@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

:root {
  --bg-dark: #130b1c;
  --txt-primary: #fefefe;
  --btn-primary: #ff7d7b;
}

main {
  position: relative;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.loader-container {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-dark);
  overflow: hidden;
  position: fixed;
  z-index: 10;
}

.loader-container .circle {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  scale: 120;
  background-color: var(--txt-primary);
}

.loader-container h1 {
  font-size: 15vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Home */

.home {
  width: 100%;
  min-height: 100vh;
  background-color: #130b1c;
  position: relative;
  border-bottom: 2px solid white;
}

/* .home .circle {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  scale: 120;
  background-color: var(--txt-primary);

  position: absolute;
  top: 50%;
  left: 50%;
} */

.socials {
  width: 100%;
  /* height: 10vh; */
  /* background-color: #ff7d7b; */
  gap: 2vw;
  justify-content: flex-end;
  padding: 2vw 4vw;
}
.icon {
  /* background-color: red; */
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--txt-primary);
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-text-container {
  width: 100%;
  color: var(--txt-primary);
  justify-self: start;
  position: relative;
  margin-left: 10vw;
  margin-top: 5vw;
  /* background-color: aqua; */
}

.home-text-container :nth-child(2),
.home-text-container :nth-child(3) {
  margin-left: 15%;
}

.home-text {
  width: fit-content;
  position: relative;
  overflow: hidden;
}

.home-text h1 {
  font-size: 8vw;
  font-weight: 600;
  text-transform: uppercase;
}

/* .text .circle {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: var(--btn-primary);
  opacity: 0.8;

  position: absolute;
  left: 10%;
} */

/* About Section */

.about {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-dark);
  border-bottom: 2px solid white;
  color: var(--txt-primary);
}

.about-heading {
  height: 20vh;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  position: relative;
}

.about-heading img {
  scale: 0.6;
}

.about-heading h1 {
  font-size: 4vw;
  font-weight: 600;
}

.about-heading div {
  overflow: hidden;
  /* background-color: red; */
  position: relative;
}

.about-heading::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 1vh;
  border-bottom: 5px solid var(--btn-primary);
  bottom: 15%;
  left: 48%;
}

.about-heading-2 {
  position: absolute;
  top: 0;
}

.about-heading-2 span {
  font-family: serif;
  font-style: italic;
  font-weight: 900;
  -webkit-text-stroke: 1px var(--txt-primary);
  color: transparent;
  opacity: 0;
}

.about-content {
  width: 100vw;
  height: 80vh;
  /* background-color: #ff7d7b; */
  padding: 0 10vw;
}

.about-text {
  /* background-color: red; */
  width: 60%;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.about-text p {
  font-size: 1.8vw;
  line-height: 1.6;
  font-weight: 200;
  color: #fefefe58;
}

.about-img {
  width: 30%;
  height: 100%;
  /* background-color: aquamarine; */
}

.about-img img {
  scale: 0.5;
  object-fit: cover;
}

.projects {
  width: 100%;
  height: 100vh;
}
